<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    
    <!-- import the webpage's stylesheet -->
    <link href="../static/styles.css" th:href="@{../static/styles.css}" rel="stylesheet" />

    <!-- import the webpage's javascript file -->
    <script src="../static/script.js" th:href="@{../static/sctipt.js}" rel="script" ></script>
  </head>  
  <body>
    <h1>Hi there!</h1>
    
    
    <h2>blog1</h2>
    <p>this is the blog content. this is the blog content. this is the blog content.</p>
    
    <div class="margin"> 
    <p class= "margin">
      You're my cool new webpage. Made with <a href="https://glitch.com">example.com</a>!
    </p>
    </div>
    

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->

    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
